@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
    <div id="gameBoard">
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
        <div id="square"></div>
    </div>
</div>
