@page
@model IndexModel
@using Microsoft.JSInterop;
@inject IJSRuntime JS
@{
    ViewData["Title"] = "Home page";
}

<script src="./js/site.js"></script>

@{
    async Task Hello()
    {
        await JS.InvokeVoidAsync("changeId");
    }

    Database db = new Database("172.17.0.2", "3306", "db_bulle_docker", "root", "root");
    Player player = new Player("red");
}
<p>@db.ConnectionDatabase()</p>
@{
    player.GameEngine();
    Hello();
}

<div class="text-center" id="body">
    @for (int i = 0; i < 10; i++)
    {
        <div id="gameBoard">
        @for (int j = 0; j < 10; j++)
        {
            string squareId = "";
            if(i == 0)
            {
                squareId = $"0{i * 10 + j}";
            } else {
                squareId = $"{i * 10 + j}";
            }
        }
        </div>
    }
</div>